{% extends 'tiendaonline/base.html'%}

{%block content%}

<div class="jumbotron text-center">
    <h1 class="display-4">¡Bienvenido a Te Lo Envío!</h1>
    <p class="lead">Enviamos tus productos favoritos</p>
    <hr class="my-4">
    <p>Nuestros clienente nos prefieren</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Ver más</a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="cookie.jpg" class="card-img-top" alt="Galletas">
          <div class="card-body">
            <h5 class="card-title">Soluciones Persona</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-light">Ver más</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="coffee.jpg" class="card-img-top" alt="Café">
          <div class="card-body">
            <h5 class="card-title">Soluciones Empresa</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-light">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock%}